data/
.DS_STORE
fuse/__pycache__/*
2011_10_03_calib.zip
2011_10_03_drive_0047_sync.zip

fuse/__pycache__/*
clustering/__pycache__/*
clustering/.ipynb_checkpoints/*
.ipynb_checkpoints/*
fuse/.ipynb_checkpoints/*

*.mp4
fuse/yolov5
fuse/yolov5s.pt

